
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

body{
    color: #333;
    background:#fff;
	clear:both;
    font-size: 15px;
	margin:0px;
	padding:0px;
	font-family: 'Signika', sans-serif;
}
a{
    text-decoration: none !important;
}
.header{
   width:100%;
   float:left;
   background:#055d8f;
   padding: 10px 0px;
}
.header-top {
    /*border-bottom: 1px solid #d8d8d8;*/
    padding: 8px 0px;
    background: #002f42;
}
.logo h1{
    color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	margin:0px; !important
}
.logo a img{
	width:91%;
}
.conf-mail ul{
    margin:0px;
	padding:0px;
}
.conf-mail ul li {
    display: inline-block;
    padding: 0px 5px;
}
.conf-mail ul li a {
    color: #fff;
    font-size:13px;
    letter-spacing: 2px;
}
.info-social ul{
    margin:0px;
	padding:0px;
}
.info-social ul li {
    display: inline-block;
    padding: 0px 5px;
}
.info-social ul li a {
    color: #fff;
    font-size:14px;
    letter-spacing: 2px;
}
.site-conf-info{
    width: 100%;
    float: left;
    /*border-bottom: 1px solid #ece4e4;*/
    padding: 10px;
}
.conf-detail ul{
    float: right;
    margin: 0px;
    padding: 0px;
}
.conf-detail ul li{
    display:inline-block;
    padding:8px 20px;
    background:#e4e4e4;
    border-radius: 20px;
    margin-left:14px;
}
.conf-detail> ul > li:nth-child(2) {
    background:#f78422;
    color: #fff;
}
.conf-detail> ul > li:nth-child(2) a{
    color: #fff;
}

/*.conf-detail{
    width:615px;
	float:right !important;
}*/

.conf-detail ul li a{
    color: #2c2b31;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
}
.conf-social{
     padding-left:15px;
	 border-right: 1px solid #807c7c;
	 margin-top: 5px;
}
.conf-social ul{
     margin:0px;
	 padding:0px;
}
.conf-social li{
     padding: 0px 5px !important;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
}
.conf-social li i{
    font-size: 22px !important;
    color: #fff;
}
.topic-confr p{
    text-align: right;
    color: #e67f04;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 29px;
}
.confr-quick-link{
     float:right;
	 padding-top: 12px;
}
.confr-quick-link ul{
     margin:0px;
	 padding:0px;
}
.confr-quick-link ul li{
    display:inline-block;
	padding:8px 2px;
}
.confr-quick-link ul li:after {
    margin-left: 7px;
    content: url(https://fiabci.org/assets/images/menu-bar/top-nav-item-rect.png);
}
.confr-quick-link ul li a{
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.4px;
}
.header-bttm{
     width:100%;
	 float:left;
}
.header-bttm .logo{
     padding-right:5px !important;
	 margin-bottom: 12px;
}
.header-bttm .logo img{
     width:93%;
}
.conf-header-link{
    padding:15px 10px;
	background:#55595d;
}
.menu-header-link{
    width:100%;
	float:left;
	background-image: linear-gradient(#efecec, white);
	padding:15px 0px;
}
.menu-nav ul{
    margin:0px;
	padding:0px;
}	
.menu-nav ul li{
    display: inline-block;
    padding: 0px 7px;
    margin: 30px 0px;
	border-right: 1px solid #055d8f;
}
.menu-nav ul li a{
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #055d8f;	
}
.menu-nav > ul > li:last-child {
    border:none;
}	
.conf-cont{
     padding-right:5px !important;
}
/*.btn-submit{
    background: #0f579b;
    padding: 5px 0px;
	width:285px;
	margin:auto;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px #121012;
}
.btn-submit a{
     color: #fff;
	 text-decoration:none;
}
.fa-pencil-square-o{
    font-size:23px !important;
	padding-right:5px;
}*/
/*.header-bttm .conf-cont h2 span{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: #0f579b;
    font-weight: 200;
    line-height: 32px;
}
.header-bttm .conf-cont h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:19px;
    letter-spacing:1px;
    color: #29a242;
    font-weight: 600;
    margin-top: 5px;
    line-height: 30px;
	text-align:center;
}
.header-bttm .date ul{
	padding-top: 15px;
	padding-left:0px;
	padding-right:0px;
}
.header-bttm .date ul li{
    display:block;
    font-size: 14px;
    color: #fff;
    padding: 0px 5px;
	margin-bottom: 1px;
}
.header-bttm .date ul li i{
    color: #fff;
    font-size: 20px;
    width: 27px;
}
.header-bttm .date ul li .fa-map-marker{
     width:15px !important;
}
.header-bttm .date #conf-date{
     background: #29a242;
    padding: 7px 10px;
}
.header-bttm .date #conf-palce{
    background: #0f579b;
    padding: 7px 5px;
}*/
.menu{
   /* background: #075299;
    border-radius: 40px;
	padding-left: 0px;
    padding-right: 0px;
	margin-top: 7px;
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.38);*/
}
.menu ul{
    text-decoration:none;
	padding-left:0px;
	padding-right:0px;
	margin-bottom: 0px;
}
.menu ul li{
    display: inline-block;
    padding:12px 0px;
    font-size: 13px;
    letter-spacing:1px;
} 
.menu ul li a{
   color:#072848;
   text-decoration:none;
   padding: 10px 13px;
   font-weight:600;
} 
/*.menu ul li:hover{
    background-color: #00901e;
}*/

/*--- confe-content start here ---*/


/*.jctkr-label{
  height: 35px;
  padding: 0 17px;
  line-height: 42px;
  background: rgba(69, 78, 140,0.7);
  font-size: 19px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(69, 78, 140,1);
  cursor: default;
}*/
.jctkr-label:hover{
  background: rgba(69, 78, 140,0.9);
}
[class*="js-conveyor-"] ul{
  display: inline-block;
  opacity: 0.5;
}
[class*="js-conveyor-"] ul li{
  padding: 0 15px;
  line-height: 35px;
  font-size: 16px;
}
.conf-topic-place{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    background: #fff;
	float:left;
}
.date-section {
    background:#f78422;
	padding:20px 10px;
	width:auto;
	float:left;
}
.date-section h2{
    text-align:center;
	color:#fff;
	margin:0px;
	padding:0px;
	font-size:18px;
}

/*--- banner start here ---*/

.banner{
    display: block; 
    width: 100%;
    float: left;
    overflow: hidden;
    z-index: 0;
}
.banner img{
   width:100%;
}

 /* #hexagon {
      width:460px;
      height:200px;
      background: #00adefd9;
      position: relative;
    }
    #hexagon:before {
      content: "";
      position: absolute;
      top: -12.5em;
      left: 0;
      width: 0;
      height: 0;
      border-left: 230px solid transparent;
      border-right: 230px solid transparent;
      border-bottom: 150px solid #00adefd9;
    }
    #hexagon:after {
      content: "";
      position: absolute;
      bottom: -12.5em;
      left: 0;
      width: 0;
      height: 0;
	  z-index:0;
      border-left:230px solid transparent;
      border-right:230px solid transparent;
      border-top: 150px solid #00adefd9;
    }*/

/*.banner-content{
    position: relative;
    margin-top: 57px;
    width: 70%;
    top: 9em;
}
.black_section .topic-confr{
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
    position: relative;
    z-index: 1;
    padding: 0px 20px;
}

.black_section .date-conf {
    font-size: 22px;
    font-weight: 600;
    color: #d87706;
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 0px 5px 0px;
}
.black_section .place-conf {
    font-size: 24px;
    letter-spacing: 1px;
    padding: 5px 48px;
    line-height: 35px;
    color: #111113;
    float: left;
    width: 100%;
    text-align: center;
    word-break: break-word;
}
.black_section .title-conf {
    float: left;
    width:83%;
	margin-top:9em;
    text-align: center;
}
.title-conf h3 {
    font-size: 24px;
    letter-spacing: 1px;
    padding: 5px 53px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    word-break: break-word;
}*/

